In [1]:
import matplotlib

matplotlib.rc('font', family = 'MalGun Gothic')

In [2]:
import warnings

warnings.filterwarnings('ignore')

In [3]:
matplotlib.rc('axes', unicode_minus = False)

In [4]:
print(100)

100

In [5]:
print(100.123)

100.123

In [6]:
print('안녕하세요!!!')

안녕하세요!!!

In [7]:
a = 10
print(a)

10

In [8]:
a = 10
b = 20
c = a + b
print(c)

30

In [9]:
def add(a, b):
    return a + b

In [10]:
c = add(4, 5)
print(c)

9

In [11]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()

In [12]:
days = 28
print("한 달은", days, "일 이기도 합니다.")

한 달은 28 일 이기도 합니다.

In [13]:
days = 30
print("한 달은", days, "일 입니다.")

한 달은 30 일 입니다.

In [14]:
days = 31
print("한 달은", days, "일 이기도 합니다.")

한 달은 31 일 이기도 합니다.

In [15]:
animal = '치타'
print(animal)

치타

In [16]:
num1 = 100.5
num2 = 200.5
print(num1 + num2)

301.0

In [17]:
1000won = "천원"
print(1000won)

SyntaxError: invalid decimal literal (1674262804.py, line 1)

In [18]:
email@ = 'test@naver.com'

SyntaxError: invalid syntax (782610085.py, line 1)

In [19]:
my age = 30

SyntaxError: invalid syntax (3938048409.py, line 1)

In [20]:
day = 30
month =12
year =month * day
print(year)

360

In [21]:
sum = 1 + 100
print(sum)

101

In [22]:
hi = 'hello' + '!!!'
print(hi)

hello!!!

In [23]:
good = hi + 1

TypeError: can only concatenate str (not "int") to str

In [24]:
print(type(hi))

<class 'str'>

In [24]:
print(type('hello'))

<class 'str'>

In [25]:
print(type(1))

<class 'int'>

In [26]:
print(1 + 2 + 3)

6

In [27]:
a = -10 + 10 + (-30 - 40)
print(a)

-70

In [28]:
print(10 + 20 + 30)

60

In [29]:
print(128.8 + 38 - 222.4764)

-55.6764

In [30]:
a = 2 / 3
print(a)

0.6666666666666666

In [31]:
print('%.2f' %a)

0.67

In [32]:
a = 0o177
print(a)

127

In [33]:
a = 0x8ff
b = 0xABC
print(a, b, a + b)

2303 2748 5051

In [34]:
print(100 + 5)

105

In [35]:
print(100 - 5)

95

In [36]:
print(100 * 5)

500

In [37]:
print(100 / 5)

20.0

In [38]:
print(100 ** 5)

10000000000

In [39]:
print(100 % 5)

0

In [40]:
print(100 // 5)

20

In [41]:
x = 1 + 2 ** 3 / 4 * 5
print(x)

11.0

In [42]:
x = (2 + 4) * 5 / (2 * 2) ** 2
print(x)

1.875

In [43]:
word = "apple"
print(word)

apple

In [44]:
word = 'apple'
print(word)

apple

In [45]:
multi = "I like python\nI need python"
print(multi)

I like python
I need python

In [46]:
multiline = '''
I like python
I need pytho
'''
print(multiline)

I like python
I need pytho

In [47]:
name = '홍지영'
print(name)

홍지영

In [48]:
greet = '안녕하세요!'
print(greet)

안녕하세요!

In [49]:
print(name + '님' + greet)

홍지영님안녕하세요!

In [50]:
a = 'blue' * 5
print(a)

blueblueblueblueblue

In [51]:
print('=' * 30)

==============================

In [52]:
a = "Hello World!"
print(a[-1])

!

In [53]:
print(a[-2])

d

In [54]:
print(a[-3])

l

In [55]:
b = a[0:5]
print(b)

Hello

In [56]:
c = a[6:11]
print(c)

World

In [57]:
print(a[:5])

Hello

In [58]:
print(a[6:])

World!

In [59]:
print(a[3:-3])

lo Wor

In [60]:
a = "Pithon"
a[1] = "y"

TypeError: 'str' object does not support item assignment

In [61]:
print(a[:1] + "y" + a[2:])

Python

In [62]:
color = '파랑'
s = '나는 %s을 좋아합니다.' % color
print(s)

나는 파랑을 좋아합니다.

In [63]:
color = '노랑'
s = '나는 %s을 좋아합니다.' % color
print(s)

나는 노랑을 좋아합니다.

In [64]:
kor = 90
eng = 100
math = 85
sum = kor + eng + math
avg = sum / 3
print('합계 : %d, 평균 : %.2f' %(sum, avg))

합계 : 275, 평균 : 91.67

In [65]:
a = "%10s" %"hi"
print(a)

        hi

In [66]:
a = "%-10s" %"hi"
print(a)

hi

In [67]:
a = "%0.4f" %3.42134234
print(a)

3.4213

In [68]:
a = "I want {0} eggs".format(5)
print(a)

I want 5 eggs

In [69]:
a = "I want {0} eggs".format("five")
print(a)

I want five eggs

In [70]:
number = 4
a = "I want {0} eggs".format(number)
print(a)

I want 4 eggs

In [71]:
color = "white"
day = "ten"
a = "I like {0} eggs. so I ate them for {1} days.".format(color, day)
print(a)

I like white eggs. so I ate them for ten days.

In [72]:
a = "I like {color} eggs. so I ate them for {day} days.".format(color = "white", day = 10)
print(a)

I like white eggs. so I ate them for 10 days.

In [73]:
a = "I like {0} eggs. so I ate them for {day} days.".format("white", day = 5)
print(a)

I like white eggs. so I ate them for 5 days.

In [74]:
a = "{0:<10}".format("hi")
print(a)

hi

In [75]:
a = "{0:>10}".format("hi")
print(a)

        hi

In [76]:
a = "{0:^10}".format("hi")
print(a)

    hi

In [77]:
a = "{0:=^10}".format("hi")
print(a)

====hi====

In [78]:
a = "{0:!<10}".format("hi")
print(a)

hi!!!!!!!!

In [79]:
y = 3.1415926
y = "{0:0.4f}".format(y)
print(y)

3.1416

In [80]:
y = 3.1415926
y = "{0:10.4f}".format(y)
print(y)

    3.1416

In [81]:
y = "{{ and }}".format()
print(y)

{ and }

In [82]:
message = '안녕하세요!'
str_len = len(message)
print('문자열의 딜이 : ' + str(str_len))

문자열의 딜이 : 6

In [83]:
a = 'happy'
c = a.count('p')
print(c)

2

In [84]:
a = "I like egg"
f = a.find('e')
print(f)

5

In [85]:
f = a.find('s')
print(f)

-1

In [86]:
a = "Life is too short"
i = a.index('t')
print(i)

8

In [87]:
i = a.index('k')
print(i)

ValueError: substring not found

In [88]:
j = ",".join('abcd')
print(j)

a,b,c,d

In [89]:
a = "hi"
T = a.upper()
print(T)

HI

In [90]:
a = "HI"
t = a.lower()
print(t)

hi

In [91]:
a = " hi "
l = a.lstrip()
print(l)

hi

In [92]:
r = a.rstrip()
print(r)

 hi

In [93]:
s = a.strip()
print(s)

hi

In [94]:
a = "Life is bad"
s = a.replace("bad", "good")
print(s)

Life is good

In [95]:
a = "Life is good"
s = a.split()
print(s)

['Life', 'is', 'good']

In [96]:
b = "a:b:c:d"
s = b.split(':')
print(s)

['a', 'b', 'c', 'd']