In [2]:
import matplotlib

matplotlib.rc('font', family = 'Malgun Gothic')

In [3]:
import warnings

warnings.filterwarnings('ignore')

In [4]:
matplotlib.rc('axes', unicode_minus = False)

In [5]:
df = "에스프레소,아메리카노,카페라떼,카푸치노"
df.split(',')

['에스프레소', '아메리카노', '카페라떼', '카푸치노']

In [6]:
df_sep = df.split(',')
df_sep[0]

'에스프레소'

In [7]:
df = "aaaaHello Pythonaaa"
df.strip('a')

'Hello Python'

In [8]:
df.lstrip('a')

'Hello Pythonaaa'

In [9]:
df.rstrip('a')

'aaaaHello Python'

In [10]:
df = ["서울시", "서초구", "반포대로", "201(반포동)"]
"".join(df)

'서울시서초구반포대로201(반포동)'

In [11]:
" ".join(df)

'서울시 서초구 반포대로 201(반포동)'

In [12]:
df_join = "\n".join(df)
print(df_join)

서울시
서초구
반포대로
201(반포동)

In [13]:
df = "Python is powerful. Python is easy. Python is interpreter language."
print(df.find("Python"))

0

In [14]:
print(df.find("Python", 10, 30))

20

In [15]:
print(df.find("easy"))

30

In [16]:
print(df.find("Python", 21))

36

In [17]:
print(df.find("Jupyter"))

-1

In [18]:
print(df.count("Python"))

3

In [19]:
print(df.count("Python", 10, 30))

1

In [20]:
print(df.count("easy"))

1

In [21]:
print(df.count("Python", 21))

1

In [22]:
print(df.count("Jupyter"))

0

In [23]:
print("문자열이 'Python'으로 시작?", df.startswith("Python"))

문자열이 'Python'으로 시작? True

In [24]:
print("문자열이 'powerful'로 시작?", df.startswith("powerful"))

문자열이 'powerful'로 시작? False

In [25]:
print("지정범위에서 'powerful'로 시작?", df.startswith('powerful', 10))

지정범위에서 'powerful'로 시작? True

In [26]:
print("문자열이 'easy.'로 끝?", df.endswith("easy."))

문자열이 'easy.'로 끝? False

In [27]:
print(df.replace("Python", "IPython"))

IPython is powerful. IPython is easy. IPython is interpreter language.

In [28]:
print(df.replace("Python", "IPython", 2))

IPython is powerful. IPython is easy. Python is interpreter language.

In [29]:
print(df.lower())

python is powerful. python is easy. python is interpreter language.

In [30]:
print(df.upper())

PYTHON IS POWERFUL. PYTHON IS EASY. PYTHON IS INTERPRETER LANGUAGE.

In [31]:
import pandas as pd
import numpy as np

df = pd.read_excel("../data/회원정보.xlsx", sheet_name = 'Sheet1')
df

   성  이름             영문명         주민등록번호              주소           전화번호
0  홍  길동    hong gildong  700101-100001      강서구 공항로811  010-1111-1234
1  강  감찬    gang gamchan  710101-100002    강서구 대저중앙로309  010-5555-2222
2  이  순신     lee sunshin  720101-100003      강서구 상덕로 52  010-4444-5555
3  한  명희    han myunghee  730101-300004    기장군 기장읍 연화1길  010-6666-4444
4  정  약용   jung yakyoung  740111-400005     기장군 기장읍 차성로  010-7777-3333
5  임  영웅  lim youngwoong  750111-200006   기장군 기장읍 기장해안로  010-5555-6666
6  장  민호      jang minho  760111-200007       남구 지게골로 7  010-1111-7777
7  나  훈아       na hoonna  770111-100008     동래구 온천장로107  010-2222-8888
8  남   진         nam jin  780111-400009      동래구 동래로116  010-8888-9999
9  채  시내      chae sinae  790111-300010       북구 효열로 25  010-7777-0011

In [32]:
df = df.dropna()

In [33]:
df['성명'] = df['성'] + df['이름']
df['성명1'] = df[['성','이름']].sum(1)
df

,성,이름,영문명,주민등록번호,주소,전화번호,성명,성명1
0,홍,길동,hong gildong,700101-100001,강서구 공항로811,010-1111-1234,홍길동,홍길동
1,강,감찬,gang gamchan,710101-100002,강서구 대저중앙로309,010-5555-2222,강감찬,강감찬
2,이,순신,lee sunshin,720101-100003,강서구 상덕로 52,010-4444-5555,이순신,이순신
3,한,명희,han myunghee,730101-300004,기장군 기장읍 연화1길,010-6666-4444,한명희,한명희
4,정,약용,jung yakyoung,740111-400005,기장군 기장읍 차성로,010-7777-3333,정약용,정약용
5,임,영웅,lim youngwoong,750111-200006,기장군 기장읍 기장해안로,010-5555-6666,임영웅,임영웅
6,장,민호,jang minho,760111-200007,남구 지게골로 7,010-1111-7777,장민호,장민호
7,나,훈아,na hoonna,770111-100008,동래구 온천장로107,010-2222-8888,나훈아,나훈아
8,남,진,nam jin,780111-400009,동래구 동래로116,010-8888-9999,남진,남진
9,채,시내,chae sinae,790111-300010,북구 효열로 25,010-7777-0011,채시내,채시내

In [34]:
df['주민번호앞6자리'] = df['주민등록번호'].str[0:6]
df['성별'] = df['주민등록번호'].str[7]
df['전화번호뒤4자리'] = df['전화번호'].str[9:14]
df

,성,이름,영문명,주민등록번호,주소,전화번호,성명,성명1,주민번호앞6자리,성별,전화번호뒤4자리
0,홍,길동,hong gildong,700101-100001,강서구 공항로811,010-1111-1234,홍길동,홍길동,700101,1,1234
1,강,감찬,gang gamchan,710101-100002,강서구 대저중앙로309,010-5555-2222,강감찬,강감찬,710101,1,2222
2,이,순신,lee sunshin,720101-100003,강서구 상덕로 52,010-4444-5555,이순신,이순신,720101,1,5555
3,한,명희,han myunghee,730101-300004,기장군 기장읍 연화1길,010-6666-4444,한명희,한명희,730101,3,4444
4,정,약용,jung yakyoung,740111-400005,기장군 기장읍 차성로,010-7777-3333,정약용,정약용,740111,4,3333
5,임,영웅,lim youngwoong,750111-200006,기장군 기장읍 기장해안로,010-5555-6666,임영웅,임영웅,750111,2,6666
6,장,민호,jang minho,760111-200007,남구 지게골로 7,010-1111-7777,장민호,장민호,760111,2,7777
7,나,훈아,na hoonna,770111-100008,동래구 온천장로107,010-2222-8888,나훈아,나훈아,770111,1,8888
8,남,진,nam jin,780111-400009,동래구 동래로116,010-8888-9999,남진,남진,780111,4,9999
9,채,시내,chae sinae,790111-300010,북구 효열로 25,010-7777-0011,채시내,채시내,790111,3,0011

In [35]:
df[['성','이름','주민등록번호','전화번호','주민번호앞6자리','성별','전화번호뒤4자리']]

   성  이름         주민등록번호           전화번호 주민번호앞6자리 성별 전화번호뒤4자리
0  홍  길동  700101-100001  010-1111-1234   700101  1     1234
1  강  감찬  710101-100002  010-5555-2222   710101  1     2222
2  이  순신  720101-100003  010-4444-5555   720101  1     5555
3  한  명희  730101-300004  010-6666-4444   730101  3     4444
4  정  약용  740111-400005  010-7777-3333   740111  4     3333
5  임  영웅  750111-200006  010-5555-6666   750111  2     6666
6  장  민호  760111-200007  010-1111-7777   760111  2     7777
7  나  훈아  770111-100008  010-2222-8888   770111  1     8888
8  남   진  780111-400009  010-8888-9999   780111  4     9999
9  채  시내  790111-300010  010-7777-0011   790111  3     0011

In [36]:
df['대글자'] = df['영문명'].str.upper()
df['첫글자'] = df['영문명'].str.capitalize()
df

,성,이름,영문명,주민등록번호,주소,전화번호,성명,성명1,주민번호앞6자리,성별,전화번호뒤4자리,대글자,첫글자
0,홍,길동,hong gildong,700101-100001,강서구 공항로811,010-1111-1234,홍길동,홍길동,700101,1,1234,HONG GILDONG,Hong gildong
1,강,감찬,gang gamchan,710101-100002,강서구 대저중앙로309,010-5555-2222,강감찬,강감찬,710101,1,2222,GANG GAMCHAN,Gang gamchan
2,이,순신,lee sunshin,720101-100003,강서구 상덕로 52,010-4444-5555,이순신,이순신,720101,1,5555,LEE SUNSHIN,Lee sunshin
3,한,명희,han myunghee,730101-300004,기장군 기장읍 연화1길,010-6666-4444,한명희,한명희,730101,3,4444,HAN MYUNGHEE,Han myunghee
4,정,약용,jung yakyoung,740111-400005,기장군 기장읍 차성로,010-7777-3333,정약용,정약용,740111,4,3333,JUNG YAKYOUNG,Jung yakyoung
5,임,영웅,lim youngwoong,750111-200006,기장군 기장읍 기장해안로,010-5555-6666,임영웅,임영웅,750111,2,6666,LIM YOUNGWOONG,Lim youngwoong
6,장,민호,jang minho,760111-200007,남구 지게골로 7,010-1111-7777,장민호,장민호,760111,2,7777,JANG MINHO,Jang minho
7,나,훈아,na hoonna,770111-100008,동래구 온천장로107,010-2222-8888,나훈아,나훈아,770111,1,8888,NA HOONNA,Na hoonna
8,남,진,nam jin,780111-400009,동래구 동래로116,010-8888-9999,남진,남진,780111,4,9999,NAM JIN,Nam jin
9,채,시내,chae sinae,790111-300010,북구 효열로 25,010-7777-0011,채시내,채시내,790111,3,0011,CHAE SINAE,Chae sinae

In [37]:
df['phone'] = df['전화번호'].str.replace("-","")
df['phone1'] = df['전화번호'].str.replace("-","",1)
df['phone2'] = df['전화번호'].str.replace("-","",2)
df

,성,이름,영문명,주민등록번호,주소,전화번호,성명,성명1,주민번호앞6자리,성별,전화번호뒤4자리,대글자,첫글자,phone,phone1,phone2
0,홍,길동,hong gildong,700101-100001,강서구 공항로811,010-1111-1234,홍길동,홍길동,700101,1,1234,HONG GILDONG,Hong gildong,01011111234,0101111-1234,01011111234
1,강,감찬,gang gamchan,710101-100002,강서구 대저중앙로309,010-5555-2222,강감찬,강감찬,710101,1,2222,GANG GAMCHAN,Gang gamchan,01055552222,0105555-2222,01055552222
2,이,순신,lee sunshin,720101-100003,강서구 상덕로 52,010-4444-5555,이순신,이순신,720101,1,5555,LEE SUNSHIN,Lee sunshin,01044445555,0104444-5555,01044445555
3,한,명희,han myunghee,730101-300004,기장군 기장읍 연화1길,010-6666-4444,한명희,한명희,730101,3,4444,HAN MYUNGHEE,Han myunghee,01066664444,0106666-4444,01066664444
4,정,약용,jung yakyoung,740111-400005,기장군 기장읍 차성로,010-7777-3333,정약용,정약용,740111,4,3333,JUNG YAKYOUNG,Jung yakyoung,01077773333,0107777-3333,01077773333
5,임,영웅,lim youngwoong,750111-200006,기장군 기장읍 기장해안로,010-5555-6666,임영웅,임영웅,750111,2,6666,LIM YOUNGWOONG,Lim youngwoong,01055556666,0105555-6666,01055556666
6,장,민호,jang minho,760111-200007,남구 지게골로 7,010-1111-7777,장민호,장민호,760111,2,7777,JANG MINHO,Jang minho,01011117777,0101111-7777,01011117777
7,나,훈아,na hoonna,770111-100008,동래구 온천장로107,010-2222-8888,나훈아,나훈아,770111,1,8888,NA HOONNA,Na hoonna,01022228888,0102222-8888,01022228888
8,남,진,nam jin,780111-400009,동래구 동래로116,010-8888-9999,남진,남진,780111,4,9999,NAM JIN,Nam jin,01088889999,0108888-9999,01088889999
9,채,시내,chae sinae,790111-300010,북구 효열로 25,010-7777-0011,채시내,채시내,790111,3,0011,CHAE SINAE,Chae sinae,01077770011,0107777-0011,01077770011

In [38]:
df['FIND'] = df['주민등록번호'].str.find("-")
df['성별구분'] = df['주민등록번호'].str[df['주민등록번호'].str.find("-")[0] + 1]
df

,성,이름,영문명,주민등록번호,주소,전화번호,성명,성명1,주민번호앞6자리,성별,전화번호뒤4자리,대글자,첫글자,phone,phone1,phone2,FIND,성별구분
0,홍,길동,hong gildong,700101-100001,강서구 공항로811,010-1111-1234,홍길동,홍길동,700101,1,1234,HONG GILDONG,Hong gildong,01011111234,0101111-1234,01011111234,6,1
1,강,감찬,gang gamchan,710101-100002,강서구 대저중앙로309,010-5555-2222,강감찬,강감찬,710101,1,2222,GANG GAMCHAN,Gang gamchan,01055552222,0105555-2222,01055552222,6,1
2,이,순신,lee sunshin,720101-100003,강서구 상덕로 52,010-4444-5555,이순신,이순신,720101,1,5555,LEE SUNSHIN,Lee sunshin,01044445555,0104444-5555,01044445555,6,1
3,한,명희,han myunghee,730101-300004,기장군 기장읍 연화1길,010-6666-4444,한명희,한명희,730101,3,4444,HAN MYUNGHEE,Han myunghee,01066664444,0106666-4444,01066664444,6,3
4,정,약용,jung yakyoung,740111-400005,기장군 기장읍 차성로,010-7777-3333,정약용,정약용,740111,4,3333,JUNG YAKYOUNG,Jung yakyoung,01077773333,0107777-3333,01077773333,6,4
5,임,영웅,lim youngwoong,750111-200006,기장군 기장읍 기장해안로,010-5555-6666,임영웅,임영웅,750111,2,6666,LIM YOUNGWOONG,Lim youngwoong,01055556666,0105555-6666,01055556666,6,2
6,장,민호,jang minho,760111-200007,남구 지게골로 7,010-1111-7777,장민호,장민호,760111,2,7777,JANG MINHO,Jang minho,01011117777,0101111-7777,01011117777,6,2
7,나,훈아,na hoonna,770111-100008,동래구 온천장로107,010-2222-8888,나훈아,나훈아,770111,1,8888,NA HOONNA,Na hoonna,01022228888,0102222-8888,01022228888,6,1
8,남,진,nam jin,780111-400009,동래구 동래로116,010-8888-9999,남진,남진,780111,4,9999,NAM JIN,Nam jin,01088889999,0108888-9999,01088889999,6,4
9,채,시내,chae sinae,790111-300010,북구 효열로 25,010-7777-0011,채시내,채시내,790111,3,0011,CHAE SINAE,Chae sinae,01077770011,0107777-0011,01077770011,6,3

In [42]:
df['이름수'] = df['이름'].str.len()
df

,성,이름,영문명,주민등록번호,주소,전화번호,성명,성명1,주민번호앞6자리,성별,...,첫글자,phone,phone1,phone2,FIND,성별구분,이름수,주소(공백제거),주소_len,주소_len2
0,홍,길동,hong gildong,700101-100001,강서구 공항로811,010-1111-1234,홍길동,홍길동,700101,1,...,Hong gildong,01011111234,0101111-1234,01011111234,6,1,2,강서구 공항로811,11,10
1,강,감찬,gang gamchan,710101-100002,강서구 대저중앙로309,010-5555-2222,강감찬,강감찬,710101,1,...,Gang gamchan,01055552222,0105555-2222,01055552222,6,1,2,강서구 대저중앙로309,13,12
2,이,순신,lee sunshin,720101-100003,강서구 상덕로 52,010-4444-5555,이순신,이순신,720101,1,...,Lee sunshin,01044445555,0104444-5555,01044445555,6,1,2,강서구 상덕로 52,11,10
3,한,명희,han myunghee,730101-300004,기장군 기장읍 연화1길,010-6666-4444,한명희,한명희,730101,3,...,Han myunghee,01066664444,0106666-4444,01066664444,6,3,2,기장군 기장읍 연화1길,13,12
4,정,약용,jung yakyoung,740111-400005,기장군 기장읍 차성로,010-7777-3333,정약용,정약용,740111,4,...,Jung yakyoung,01077773333,0107777-3333,01077773333,6,4,2,기장군 기장읍 차성로,12,11
5,임,영웅,lim youngwoong,750111-200006,기장군 기장읍 기장해안로,010-5555-6666,임영웅,임영웅,750111,2,...,Lim youngwoong,01055556666,0105555-6666,01055556666,6,2,2,기장군 기장읍 기장해안로,14,13
6,장,민호,jang minho,760111-200007,남구 지게골로 7,010-1111-7777,장민호,장민호,760111,2,...,Jang minho,01011117777,0101111-7777,01011117777,6,2,2,남구 지게골로 7,10,9
7,나,훈아,na hoonna,770111-100008,동래구 온천장로107,010-2222-8888,나훈아,나훈아,770111,1,...,Na hoonna,01022228888,0102222-8888,01022228888,6,1,2,동래구 온천장로107,12,11
8,남,진,nam jin,780111-400009,동래구 동래로116,010-8888-9999,남진,남진,780111,4,...,Nam jin,01088889999,0108888-9999,01088889999,6,4,1,동래구 동래로116,11,10
9,채,시내,chae sinae,790111-300010,북구 효열로 25,010-7777-0011,채시내,채시내,790111,3,...,Chae sinae,01077770011,0107777-0011,01077770011,6,3,2,북구 효열로 25,10,9

In [40]:
df['주소(공백제거)'] = df['주소'].str.strip()
df['주소_len'] = df['주소'].str.len()
df['주소_len2'] = df['주소(공백제거)'].str.len()
df

,성,이름,영문명,주민등록번호,주소,전화번호,성명,성명1,주민번호앞6자리,성별,...,첫글자,phone,phone1,phone2,FIND,성별구분,이름수,주소(공백제거),주소_len,주소_len2
0,홍,길동,hong gildong,700101-100001,강서구 공항로811,010-1111-1234,홍길동,홍길동,700101,1,...,Hong gildong,01011111234,0101111-1234,01011111234,6,1,2,강서구 공항로811,11,10
1,강,감찬,gang gamchan,710101-100002,강서구 대저중앙로309,010-5555-2222,강감찬,강감찬,710101,1,...,Gang gamchan,01055552222,0105555-2222,01055552222,6,1,2,강서구 대저중앙로309,13,12
2,이,순신,lee sunshin,720101-100003,강서구 상덕로 52,010-4444-5555,이순신,이순신,720101,1,...,Lee sunshin,01044445555,0104444-5555,01044445555,6,1,2,강서구 상덕로 52,11,10
3,한,명희,han myunghee,730101-300004,기장군 기장읍 연화1길,010-6666-4444,한명희,한명희,730101,3,...,Han myunghee,01066664444,0106666-4444,01066664444,6,3,2,기장군 기장읍 연화1길,13,12
4,정,약용,jung yakyoung,740111-400005,기장군 기장읍 차성로,010-7777-3333,정약용,정약용,740111,4,...,Jung yakyoung,01077773333,0107777-3333,01077773333,6,4,2,기장군 기장읍 차성로,12,11
5,임,영웅,lim youngwoong,750111-200006,기장군 기장읍 기장해안로,010-5555-6666,임영웅,임영웅,750111,2,...,Lim youngwoong,01055556666,0105555-6666,01055556666,6,2,2,기장군 기장읍 기장해안로,14,13
6,장,민호,jang minho,760111-200007,남구 지게골로 7,010-1111-7777,장민호,장민호,760111,2,...,Jang minho,01011117777,0101111-7777,01011117777,6,2,2,남구 지게골로 7,10,9
7,나,훈아,na hoonna,770111-100008,동래구 온천장로107,010-2222-8888,나훈아,나훈아,770111,1,...,Na hoonna,01022228888,0102222-8888,01022228888,6,1,2,동래구 온천장로107,12,11
8,남,진,nam jin,780111-400009,동래구 동래로116,010-8888-9999,남진,남진,780111,4,...,Nam jin,01088889999,0108888-9999,01088889999,6,4,1,동래구 동래로116,11,10
9,채,시내,chae sinae,790111-300010,북구 효열로 25,010-7777-0011,채시내,채시내,790111,3,...,Chae sinae,01077770011,0107777-0011,01077770011,6,3,2,북구 효열로 25,10,9

In [43]:
df = pd.read_excel("../data/연습문제_9.xlsx", sheet_name = 'Sheet1')
df.head()

                      담당     사소    직급년차
0            리더십교육그룹 홍길동  서울 본사  그룹장 2년
1   (포항)환경에너지부 수질보전과 박철수  포항제철소   과장 3년
2      (포항)제강부 2제강공장 김영희  포항제철소   대리 2년
3  (포항)기계설비부 기계정비기술팀 신승훈  포항제철소   사원 5년
4  FINEX조업그룹 FINEX공장 신성우  서울 본사   사원 6년

In [44]:
df["그룹"] = df["담당"].str.split(" ").str[0]
df["지역"] = df["사소"].str[0:2]
df["직급"] = df["직급년차"].str.split(" ").str[0]
df.head()

                      담당     사소    직급년차          그룹  지역   직급
0            리더십교육그룹 홍길동  서울 본사  그룹장 2년     리더십교육그룹  서울  그룹장
1   (포항)환경에너지부 수질보전과 박철수  포항제철소   과장 3년  (포항)환경에너지부  포항   과장
2      (포항)제강부 2제강공장 김영희  포항제철소   대리 2년     (포항)제강부  포항   대리
3  (포항)기계설비부 기계정비기술팀 신승훈  포항제철소   사원 5년   (포항)기계설비부  포항   사원
4  FINEX조업그룹 FINEX공장 신성우  서울 본사   사원 6년   FINEX조업그룹  서울   사원