In [1]:
import matplotlib

matplotlib.rc('font', family = 'Malgun Gothic')

In [2]:
import warnings

warnings.filterwarnings('ignore')

In [3]:
matplotlib.rc('axes', unicode_minus = False)

In [4]:
height = input("당신의 키는?")
print("당신의 키는 ", height, "입니다.")

당신의 키는  200 입니다.

In [5]:
type(height)

str

In [6]:
height = int(input("당신의 키는?"))
print(height)

200

In [7]:
height = float(input("당신의 키는?"))
print(height)

200.0

In [8]:
a = input("정사각형 한 변의 길이는? ")
area = int(a) ** 2
print("정사각형의 넓이 : ", area)

정사각형의 넓이 :  144

In [9]:
print("hello")

hello

In [10]:
"hello"

'hello'

In [11]:
55 + 21

76

In [12]:
print("I", end =' ')
print("Love", end = ' ')
print("You", end = ' ')

I Love You

In [13]:
print("I" "2" "YOU")

I2YOU

In [14]:
print("I", 2, "YOU")

I 2 YOU

In [15]:
print("I" + str(2) + "YOU")

I2YOU

In [16]:
name = "John"
print("Hello, %s!" % name)

Hello, John!

In [17]:
age = 23
print("%s은 %d 살입니다." % (name, age))

John은 23 살입니다.

In [18]:
print('%s %s' % ('one', 'two'))

one two

In [19]:
print('%d %d' % (1, 2))

1 2

In [20]:
print('%5d %5d' % (1, 2))

    1     2

In [21]:
print('%.3f' % 3.14159)

3.142

In [22]:
print('%10.3f' % 3.14159)

     3.142

In [23]:
print('%10s' % 3.14159)

   3.14159

In [24]:
print('%-10s' % 3.14159)

3.14159

In [25]:
print('{} {}'.format('one', 'two'))

one two

In [26]:
print('{} {}'.format(1, 2))

1 2

In [27]:
print('{:5} {:5}'.format(1, 2))

    1     2

In [28]:
print('{1} {0}'.format('one', 'two'))

two one

In [29]:
print('{:.3f}'.format(3.14159))

3.142

In [30]:
print('{:10.3f}'.format(3.14159))

     3.142

In [31]:
print('{:10}'.format(3.14159))

   3.14159

In [32]:
print('{:<10}'.format(3.14159))

3.14159

In [33]:
print('{:_<10}'.format(3.14159))

3.14159___

In [34]:
print('{:^10}'.format(3.14159))

 3.14159

In [35]:
print('{:_^10}'.format(3.14159))

_3.14159__

In [36]:
f = open("C:\\Users\\Song\\Desktop\\OCU_python\\새파일.txt", "w")
for i in range(1, 11):
    data = "%d번째 줄입니다.\n" % i
    f.write(data)
f.close()

In [37]:
f = open("C:\\Users\\Song\\Desktop\\OCU_python\\새파일.txt", "r")
line = f.readline()
print(line)
f.close()

1번째 줄입니다.

In [38]:
f = open("C:\\Users\\Song\\Desktop\\OCU_python\\새파일.txt", "r")
while True:
    line = f.readline()
    if not line:
        break
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [39]:
f = open("C:\\Users\\Song\\Desktop\\OCU_python\\새파일.txt", "r")
lines = f.readlines()
for line in lines:
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [40]:
f = open("C:\\Users\\Song\\Desktop\\OCU_python\\새파일.txt", "r")
data = f.read()
print(data)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [41]:
f = open("C:\\Users\\Song\\Desktop\\OCU_python\\새파일.txt", "a")
for i in range(11, 20):
    data = "%d번째 줄입니다.\n" % i
    f.write(data)
f.close()

In [42]:
f = open("C:\\Users\\Song\\Desktop\\OCU_python\\새파일.txt", "r")
lines = f.readlines()
for line in lines:
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

11번째 줄입니다.

12번째 줄입니다.

13번째 줄입니다.

14번째 줄입니다.

15번째 줄입니다.

16번째 줄입니다.

17번째 줄입니다.

18번째 줄입니다.

19번째 줄입니다.

In [43]:
%%writefile C:/Users/Song/Desktop/OCU_python/테스트데이터.txt
이름,국어,수학,영어
홍길동, 85, 90, 75
이순신, 80, 85, 95
강감찬, 90, 85, 100

Overwriting C:/Users/Song/Desktop/OCU_python/테스트데이터.txt

In [44]:
import pandas as pd

table = {"일자": ['2019-01-01', '2019-01-04', '2019-01-07', '2019-01-10', '2019-01-13'],
        "가격": [1000, 1500, 2000, 2500, 3000],
        "구매여부": ['False', 'True', 'True', 'True', 'True'],
        "제품": ['gum', 'snack', 'beverage', 'dongas', 'alchoal']}
df = pd.DataFrame(table)
df

           일자    가격   구매여부        제품
0  2019-01-01  1000  False       gum
1  2019-01-04  1500   True     snack
2  2019-01-07  2000   True  beverage
3  2019-01-10  2500   True    dongas
4  2019-01-13  3000   True   alchoal

In [45]:
df.head(2)

           일자    가격   구매여부     제품
0  2019-01-01  1000  False    gum
1  2019-01-04  1500   True  snack

In [46]:
df.tail(2)

           일자    가격  구매여부       제품
3  2019-01-10  2500  True   dongas
4  2019-01-13  3000  True  alchoal

In [47]:
import pandas as pd

df = pd.read_csv("C:\\Users\\Song\\Desktop\\OCU_python\\data\\FITNESS.csv", encoding = 'euc-kr')
df.head()

,NAME,GENDER,AGE,AGEGROUP,WEIGHT,OXY,RUNTIME,RUNPULSE,RSTPULSE,MAXPULSE
0,Donna,여성,42,40대,68.15,59.571,8.17,166,40,172
1,Gracie,여성,38,30대,81.87,60.055,8.63,170,48,186
2,Luanne,여성,43,40대,85.84,54.297,8.65,156,45,168
3,Mimi,여성,50,50대,70.87,54.625,8.92,146,48,155
4,Chris,남성,49,40대,81.42,49.156,8.95,180,44,185

In [48]:
df = pd.read_excel("C:\\Users\\Song\\Desktop\\OCU_python\\data\\성적처리.xlsx", sheet_name = 'Sheet1')
df.head()

    반   성명  국어  영어  수학  사회  과학
0  1반  홍길동  93  80  94  73  64
1  5반  백일홍  93  63  76  84  92
2  3반  이삼상  94  74  86  90  70
3  4반  정말로  83  55  64  90  65
4  5반  한번도  87  95  66  75  60

In [49]:
table = {"일자": ['2019-01-01', '2019-01-04', '2019-01-07', '2019-01-10', '2019-01-13'],
        "가격": [1000, 1500, 2000, 2500, 3000],
        "구매여부": ['False', 'True', 'True', 'True', 'True'],
        "제품": ['gum', 'snack', 'beverage', 'dongas', 'alchoal']}
df = pd.DataFrame(table)
df.head()

           일자    가격   구매여부        제품
0  2019-01-01  1000  False       gum
1  2019-01-04  1500   True     snack
2  2019-01-07  2000   True  beverage
3  2019-01-10  2500   True    dongas
4  2019-01-13  3000   True   alchoal

In [51]:
df.to_csv("C:\\Users\\Song\\Desktop\\OCU_python\\data\\제품명세.csv", encoding = 'euc-kr')

In [62]:
df.to_excel("C:\\Users\\Song\\Desktop\\OCU_python\\data\\제품명세.xlsx", index = False)

In [54]:
cost = input("상품의 가격을 입력하세요: ")
belong = input("구매를 위해 낼 돈의 금액을 입력하세요: ")
rest = int(belong) - int(cost)
print("상품은 " + cost + "원이고, 잔돈은 " + str(rest) + "원입니다")

상품은 12000원이고, 잔돈은 -6000원입니다

In [55]:
kor = input("당신의 국어성적은? ")
kor = float(kor)
eng = input("당신의 영어성적은? ")
eng = float(eng)
math = input("당신의 수학성적은? ")
math = float(math)
avg = (kor + eng + math) / 3
print("3개 과목의 평균은 ", avg, "입니다")

3개 과목의 평균은  700.0 입니다

In [56]:
name = input("당신의 이름을 입력하세요: ")
belong = input("당신의 소속기관을 입력하세요: ")
birthyear = int(input("당신의 출생년도를 입력하세요: "))
print("당신의 이름은", name)
print(belong, "에 소속되어 있으시군요")
print("당신의 나이는", 2021 - birthyear, "세, 맞죠?")

당신의 이름은 송창석
순천대학교 에 소속되어 있으시군요
당신의 나이는 20 세, 맞죠?

In [57]:
f = open("C:\\Users\\Song\\Desktop\\OCU_python\\새파일1.txt", "w")
for i in range(1, 11):
    data = "%d번 학생 축하합니다.\n" % i
    f.write(data)
f.close()

In [58]:
f = open("C:\\Users\\Song\\Desktop\\OCU_python\\새파일1.txt", "r")
data = f.read()
print(data)
f.close()

1번 학생 축하합니다.
2번 학생 축하합니다.
3번 학생 축하합니다.
4번 학생 축하합니다.
5번 학생 축하합니다.
6번 학생 축하합니다.
7번 학생 축하합니다.
8번 학생 축하합니다.
9번 학생 축하합니다.
10번 학생 축하합니다.