In [1]:
import matplotlib

matplotlib.rc('font', family = 'Malgun Gothic')

In [2]:
import warnings

warnings.filterwarnings('ignore')

In [3]:
matplotlib.rc('axes', unicode_minus = False)

In [4]:
import pandas as pd

cs_dates = pd.DataFrame()
dates = pd.DataFrame({'날짜': ['2019-01-01', '2020-03-01', '2021-06-01']})
cs_dates['날짜'] = pd.to_datetime(dates['날짜'])
cs_dates

          날짜
0 2019-01-01
1 2020-03-01
2 2021-06-01

In [5]:
cs_dates['년도'] = cs_dates['날짜'].dt.year
cs_dates['월'] = cs_dates['날짜'].dt.month
cs_dates['일자'] = cs_dates['날짜'].dt.day
cs_dates

          날짜    년도  월  일자
0 2019-01-01  2019  1   1
1 2020-03-01  2020  3   1
2 2021-06-01  2021  6   1

In [6]:
dates = ['2019-01-01', '2020-03-01', '2021-06-01']
cs_dates = pd.to_datetime(dates)
cs_dates

DatetimeIndex(['2019-01-01', '2020-03-01', '2021-06-01'], dtype='datetime64[ns]', freq=None)

In [7]:
pr_day = cs_dates.to_period(freq = 'D')
pr_day

PeriodIndex(['2019-01-01', '2020-03-01', '2021-06-01'], dtype='period[D]', freq='D')

In [8]:
pr_month = cs_dates.to_period(freq = 'M')
pr_month

PeriodIndex(['2019-01', '2020-03', '2021-06'], dtype='period[M]', freq='M')

In [9]:
pr_year = cs_dates.to_period(freq = 'A')
pr_year

PeriodIndex(['2019', '2020', '2021'], dtype='period[A-DEC]', freq='A-DEC')

In [10]:
pr_date = pd.date_range(start = '2019-01-01', end = None, periods =6,
                       freq = 'MS', tz = 'Asia/Seoul')
pr_date

DatetimeIndex(['2019-01-01 00:00:00+09:00', '2019-02-01 00:00:00+09:00',
               '2019-03-01 00:00:00+09:00', '2019-04-01 00:00:00+09:00',
               '2019-05-01 00:00:00+09:00', '2019-06-01 00:00:00+09:00'],
              dtype='datetime64[ns, Asia/Seoul]', freq='MS')

In [11]:
pr_date = pd.date_range(start = '2019-01-01', periods = 6, freq = 'M', tz = 'Asia/Seoul')
pr_date

DatetimeIndex(['2019-01-31 00:00:00+09:00', '2019-02-28 00:00:00+09:00',
               '2019-03-31 00:00:00+09:00', '2019-04-30 00:00:00+09:00',
               '2019-05-31 00:00:00+09:00', '2019-06-30 00:00:00+09:00'],
              dtype='datetime64[ns, Asia/Seoul]', freq='M')

In [12]:
pr_date = pd.date_range(start = '2019-01-01', periods = 6, freq = '3M', tz = 'Asia/Seoul')
pr_date

DatetimeIndex(['2019-01-31 00:00:00+09:00', '2019-04-30 00:00:00+09:00',
               '2019-07-31 00:00:00+09:00', '2019-10-31 00:00:00+09:00',
               '2020-01-31 00:00:00+09:00', '2020-04-30 00:00:00+09:00'],
              dtype='datetime64[ns, Asia/Seoul]', freq='3M')

In [13]:
pr_date = pd.date_range(start = '2019-01-01', periods = 6, freq = '2H', tz = 'Asia/Seoul')
pr_date

DatetimeIndex(['2019-01-01 00:00:00+09:00', '2019-01-01 02:00:00+09:00',
               '2019-01-01 04:00:00+09:00', '2019-01-01 06:00:00+09:00',
               '2019-01-01 08:00:00+09:00', '2019-01-01 10:00:00+09:00'],
              dtype='datetime64[ns, Asia/Seoul]', freq='2H')

In [14]:
from datetime import date, time, datetime, timedelta

date_obj = date(2021, 1, 1)
time_obj = time(15, 23, 21)
datetime_obj = datetime(2021, 1, 21, 20, 19, 45)
print("[date 클래스로 날짜 지정]", date_obj)
print("[date 클래스의 속성 이용]{0}/{1}/{2}".format(date_obj.year, date_obj.month, date_obj.day))
print("[time 클래스로 시각 지정]", time_obj)
print("[time 클래스의 속성 지정]{0}/{1}/{2}".format(time_obj.hour, time_obj.minute, time_obj.second))
print("[datetime 클래스로 날짜와 시각 지정]", datetime_obj)

[date 클래스로 날짜 지정] 2021-01-01
[date 클래스의 속성 이용]2021/1/1
[time 클래스로 시각 지정] 15:23:21
[time 클래스의 속성 지정]15/23/21
[datetime 클래스로 날짜와 시각 지정] 2021-01-21 20:19:45

In [15]:
date_obj2 = date(2021, 1, 21)
diff_date = date_obj2 - date_obj
diff_date

datetime.timedelta(days=20)

In [16]:
print("두 날짜의 차이: {}일".format(diff_date.days))

두 날짜의 차이: 20일

In [17]:
date_org = date(2021, 1, 15)
date_result = date_org - timedelta(weeks = 1)
print("지정 날짜: {0}, 일 주일 전 날짜: {1}".format(date_org, date_result))

지정 날짜: 2021-01-15, 일 주일 전 날짜: 2021-01-08

In [18]:
datetime_org = datetime(2021, 1, 21, 23, 0, 0)
datetime_result = datetime_org + timedelta(hours = 1, minutes = 30)
print(datetime_result)

2021-01-22 00:30:00

In [19]:
today = date.today()
now = datetime.now()
print("오늘의 날짜 : {0}-{1}-{2}".format(today.year, today.month, today.day))
print("현재의 날짜 및 시각(전체 표시) :", now)
print("현재의 날짜 : {0}-{1}-{2}".format(now.year, now.month, now.day))
print("현재의 시각 : {0}:{1}:{2}".format(now.hour, now.minute, now.second))

오늘의 날짜 : 2021-4-22
현재의 날짜 및 시각(전체 표시) : 2021-04-22 22:45:41.700348
현재의 날짜 : 2021-4-22
현재의 시각 : 22:45:41

In [20]:
special_day = datetime(2021, 1, 22, 12, 30, 0)
print("날짜 표시 : {0:%Y}년 {0:%m}월 {0:%d}일".format(special_day))
print("시각 표시 : {0:%H}시 {0:%M}분 {0:%S}초".format(special_day))
print("요일 표시 : {0:%A}, {0:%a}, {0:%w}".format(special_day))
print("월 표시 : {0:%B}, {0:%b}".format(special_day))

날짜 표시 : 2021년 01월 22일
시각 표시 : 12시 30분 00초
요일 표시 : Friday, Fri, 5
월 표시 : January, Jan

In [21]:
product = pd.read_excel("C:/OCU교육/data/제품현황.xlsx", sheet_name = 'Sheet1')
product.head()

       카테고리    회사명            제품       가격  사용시간    흡입력  판매대수
0  핸디/스틱청소기    샤오미       드리미 V10   173900  60.0  220.0   2.0
1  핸디/스틱청소기  원더스리빙       다이나킹 Z9   299000  65.0  220.0   1.0
2  핸디/스틱청소기   LG전자  코드제로 A9 A978  1005340  80.0  140.0   1.0
3  핸디/스틱청소기    델로라   V11 파워 300W   141000  70.0  220.0   1.0
4  핸디/스틱청소기    샤오미        드리미 V9   138800  60.0  200.0   1.0

In [22]:
product['가격대'] =''
for i in range(len(product['가격'])):
    if product['가격'].loc[i] >= 500000:
        product['가격대'].loc[i] = '50만원이상'
    elif product['가격'].loc[i] >= 300000:
        product['가격대'].loc[i] = '30만원이상'
    else:
        product['가격대'].loc[i] = '30만원미만'
        
product.head()

       카테고리    회사명            제품       가격  사용시간    흡입력  판매대수     가격대
0  핸디/스틱청소기    샤오미       드리미 V10   173900  60.0  220.0   2.0  30만원미만
1  핸디/스틱청소기  원더스리빙       다이나킹 Z9   299000  65.0  220.0   1.0  30만원미만
2  핸디/스틱청소기   LG전자  코드제로 A9 A978  1005340  80.0  140.0   1.0  50만원이상
3  핸디/스틱청소기    델로라   V11 파워 300W   141000  70.0  220.0   1.0  30만원미만
4  핸디/스틱청소기    샤오미        드리미 V9   138800  60.0  200.0   1.0  30만원미만

In [23]:
product['흡입강도'] = ''
for i in range(len(product['흡입력'])):
    if product['흡입력'].loc[i] >= 200:
        product['흡입강도'].loc[i] = '매우좋음'
    elif product['흡입력'].loc[i]:
        product['흡입강도'].loc[i] = '좋음'
    else:
        product['흡입강도'].loc[i] = '보통'
        
product.head()

       카테고리    회사명            제품       가격  사용시간    흡입력  판매대수     가격대  흡입강도
0  핸디/스틱청소기    샤오미       드리미 V10   173900  60.0  220.0   2.0  30만원미만  매우좋음
1  핸디/스틱청소기  원더스리빙       다이나킹 Z9   299000  65.0  220.0   1.0  30만원미만  매우좋음
2  핸디/스틱청소기   LG전자  코드제로 A9 A978  1005340  80.0  140.0   1.0  50만원이상    좋음
3  핸디/스틱청소기    델로라   V11 파워 300W   141000  70.0  220.0   1.0  30만원미만  매우좋음
4  핸디/스틱청소기    샤오미        드리미 V9   138800  60.0  200.0   1.0  30만원미만  매우좋음

In [24]:
currency = 1164.3
while True:
    krw = input('원화입력 : ')
    try:
        usd = round(float(krw) / currency, 2)
    except:
        print('숫자를 입력하세요')
        continue
    break
    
print('USD :', usd)

원화입력 : 85000
USD : 73.01

In [25]:
from datetime import date, datetime, timedelta

date(2020, 10, 27)

datetime.date(2020, 10, 27)

In [26]:
datetime.now()

datetime.datetime(2021, 4, 22, 22, 45, 57, 923592)

In [27]:
today = datetime.now()
print(today.year)
print(today.month)
print(today.day)

2021
4
22

In [29]:
time1 = datetime(2019, 10, 1, 15, 30, 1)
time2 = datetime.now()
print(time1)
print(time2)

2019-10-01 15:30:01
2021-04-22 22:46:25.443336

In [30]:
print((time2 - time1).days, '일')

569 일

In [31]:
print((time2 - time1).seconds, '초')
print((time2 - time1).seconds/3600, '시간')

26184 초
7.273333333333333 시간

In [32]:
currency = 1164.3
krw = input('원화입력 : ')
try:
    usd = round(float(krw) / currency, 2)
    print('USD : ', usd)
except:
    print('입력을 잘못 했습니다. 숫자를 입력하세요')

원화입력 : 85000
USD :  73.01

In [32]:
currency = 1164.3
while True:
    krw = input('원화입력 : ')
    try:
        usd = round(float(krw) / currency, 2)
    except:
        print('숫자를 입력하세요')
        continue
    break

print('USD :', usd)

원화입력 : 180000
USD : 154.6