In [1]:
import matplotlib

matplotlib.rc('font', family = 'Malgun Gothic')

In [2]:
import warnings

warnings.filterwarnings('ignore')

In [3]:
matplotlib.rc('axes', unicode_minus = False)

In [93]:
score = [90, 89, 77, 95, 67]
fruit = ['apple', 'banana', 'orange']
print(score)

[90, 89, 77, 95, 67]

In [5]:
print(fruit)

['apple', 'banana', 'orange']

In [6]:
color = ['red', 'green', 'blue', 'black', 'white']
print(color[4])

white

In [7]:
print(color[1:4])

['green', 'blue', 'black']

In [8]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
print(a[2:5])

[3, ['a', 'b', 'c'], 4]

In [9]:
print(a[3][:2])

['a', 'b']

In [10]:
num = list(range(1, 21, 2))
print(num)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [11]:
print(num[3:7])

[7, 9, 11, 13]

In [12]:
a = [1, 2, 3]
b = [4, 5, 6]
print(a + b)

[1, 2, 3, 4, 5, 6]

In [13]:
print(a * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [14]:
print(len(a))

3

In [15]:
a[2] = 4
print(a)

[1, 2, 4]

In [16]:
a = [1, 2, 3]
del a[1]
print(a)

[1, 3]

In [17]:
a = [1, 2, 3, 4, 5]
del a[2:]
print(a)

[1, 2]

In [18]:
a = [1, 2, 3]
a.append(4)
print(a)

[1, 2, 3, 4]

In [19]:
a.append([5, 6])
print(a)

[1, 2, 3, 4, [5, 6]]

In [20]:
a = [1, 2, 3]
a.insert(0, 4)
print(a)

[4, 1, 2, 3]

In [21]:
a = [1, 2, 3, 1, 2, 3]
a.remove(3)
print(a)

[1, 2, 1, 2, 3]

In [22]:
a = [1, 2, 3]
print(a.pop())

3

In [23]:
print(a)

[1, 2]

In [24]:
b = [1, 2, 3]
print(b.pop(1))
print(b)

2
[1, 3]

In [25]:
a = ['a', 'c', 'b']
a.reverse()
print(a)

['b', 'c', 'a']

In [26]:
a = [1, 2, 3]
print(a.index(3))

2

In [27]:
a = [1, 4, 3, 2]
a.sort()
print(a)

[1, 2, 3, 4]

In [28]:
a = [1, 4, 3, 2]
a.sort(reverse = True)
print(a)

[4, 3, 2, 1]

In [29]:
a = [1, 2, 3, 1]
print(a.count(1))

2

In [30]:
a = [1, 2, 3]
a.extend([4, 5])
print(a)

[1, 2, 3, 4, 5]

In [31]:
b = [6, 7]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 7]

In [32]:
t1 = (1, 2, 3)
print(t1)

(1, 2, 3)

In [33]:
t2 = ('a', 'b', ('ab', 'cd'))
print(t2)

('a', 'b', ('ab', 'cd'))

In [34]:
t3 = (4, )
print(t3)

(4,)

In [35]:
t1 = (1, 2, 'a', 'b')
print(t1[0])

1

In [36]:
print(t1[3])

b

In [37]:
t1 = (1, 2, 'a', 'b')
print(t1[1:])

(2, 'a', 'b')

In [38]:
t2 = (3, 4)
print(t1 + t2)

(1, 2, 'a', 'b', 3, 4)

In [39]:
print(t2 * 3)

(3, 4, 3, 4, 3, 4)

In [40]:
print(len(t1))

4

In [41]:
a = {1: 'a'}
a[2] = 'b'
print(a)

{1: 'a', 2: 'b'}

In [42]:
a['name'] = 'kim'
print(a)

{1: 'a', 2: 'b', 'name': 'kim'}

In [43]:
a[3] = [1, 2, 3]
print(a)

{1: 'a', 2: 'b', 'name': 'kim', 3: [1, 2, 3]}

In [44]:
del a[1]
print(a)

{2: 'b', 'name': 'kim', 3: [1, 2, 3]}

In [45]:
grade = {'kim': 30, 'lee': 80}
print(grade['kim'])

30

In [46]:
print(grade['lee'])

80

In [47]:
a = {'name': 'kim', 'phone': '01012341234', 'birth': '0705'}
print(a.keys())

dict_keys(['name', 'phone', 'birth'])

In [48]:
print(list(a.keys()))

['name', 'phone', 'birth']

In [49]:
print(a.values())

dict_values(['kim', '01012341234', '0705'])

In [50]:
print(a.items())

dict_items([('name', 'kim'), ('phone', '01012341234'), ('birth', '0705')])

In [51]:
a.clear()
print(a)

{}

In [52]:
a = {'name': 'kim', 'phone': '01012341234', 'birth': '0705'}
print(a.get('name'))

kim

In [53]:
print('name' in a)

True

In [54]:
print('email' in a)

False

In [55]:
s1 = set([1, 2, 3])
print(s1)

{1, 2, 3}

In [56]:
s2 = set("Hello")
print(s2)

{'l', 'o', 'H', 'e'}

In [57]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])
print(s1 & s2)

{4, 5, 6}

In [58]:
print(s1.intersection(s2))

{4, 5, 6}

In [59]:
print(s1 | s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [60]:
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [61]:
print(s1 - s2)

{1, 2, 3}

In [62]:
print(s1.difference(s2))

{1, 2, 3}

In [63]:
print(s2 - s1)

{8, 9, 7}

In [64]:
print(s2.difference(s1))

{8, 9, 7}

In [65]:
s1 = set([1, 2, 3])
s1.add(4)
print(s1)

{1, 2, 3, 4}

In [66]:
s1 = set([1, 2, 3])
s1.update([4, 5, 6])
print(s1)

{1, 2, 3, 4, 5, 6}

In [67]:
s1 = set([1, 2, 3])
s1.remove(2)
print(s1)

{1, 3}

In [68]:
a = True
b = False
print(type(a))

<class 'bool'>

In [69]:
print(type(b))

<class 'bool'>

In [70]:
print(1 == 1)

True

In [71]:
print(2 < 1)

False

In [72]:
print(bool('python'))

True

In [73]:
print(bool(''))

False

In [74]:
print(bool([1, 2, 3]))

True

In [75]:
print(bool([]))

False

In [76]:
print(bool(0))

False

In [77]:
print(bool(3))

True

In [78]:
a = 90
b = 85
c = 50
print((a + b + c) / 3)

75.0

In [79]:
name = "홍길동"
job = "포스코"
age = 40
print("이름은", name, "이고, 근무처는", job, "이며, 나이는", age, "세입니다.")

이름은 홍길동 이고, 근무처는 포스코 이며, 나이는 40 세입니다.

In [80]:
print("이름은 " + name + " 이고, 근무처는 " + job + "이며, 나이는 " + str(age) + "세입니다.")

이름은 홍길동 이고, 근무처는 포스코이며, 나이는 40세입니다.

In [81]:
pin = "999999-1234567"
print(pin[7])

1

In [82]:
yymmdd = pin[:6]
num = pin[7:]
print(yymmdd)
print(num)

999999
1234567

In [83]:
private = ["홍길동", "남자", 40, "포스코", "경기도 성남시"]
print(private[0])

홍길동

In [84]:
print(private[3:])

['포스코', '경기도 성남시']

In [85]:
a = (1, 2, 3)
a = a + (4, )
print(a)

(1, 2, 3, 4)

In [86]:
private = {"이름": "홍길동", "성별": "남자", "나이": 40,
          "근무처": "포스코", "주소": "경기도 성남시"}
print(private["이름"])

홍길동

In [87]:
print(private["근무처"])

포스코

In [88]:
print(private["주소"])

경기도 성남시

In [89]:
A = set(["토끼", "고양이", "사자", "호랑이", "코끼리", "원숭이"])
B = set(["사슴", "원숭이", "사자", "표범", "호랑이", "얼룩소"])
print(A | B)

{'고양이', '원숭이', '호랑이', '표범', '토끼', '코끼리', '사자', '얼룩소', '사슴'}

In [90]:
print(A & B)

{'호랑이', '사자', '원숭이'}

In [91]:
print(A - B)

{'고양이', '토끼', '코끼리'}

In [92]:
print(B - A)

{'얼룩소', '사슴', '표범'}